@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,hebrew,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body {
	background-color: #e3eae8;
}
a, p, span, strong, small, h1, h2, h3, h4, h5, h6, label, div {
	font-family: 'Ubuntu', sans-serif;
}
.font-ubuntu {
    font-family: 'Ubuntu', sans-serif;
}
.mt-30px {
    margin-top: 30px;
}
.mt-40px {
    margin-top: 40px;
}
.mt-50px {
    margin-top: 50px;
}
.mt-60px {
    margin-top: 60px;
}
.mt-70px {
    margin-top: 70px;
}
.mb-30px {
    margin-bottom: 30px;
}
.mb-40px {
    margin-bottom: 40px;
}
.mb-50px {
    margin-bottom: 50px;
}
.mb-60px {
    margin-bottom: 60px;
}
.mb-70px {
    margin-bottom: 70px;
}
.pt-50px {
    padding-top: 50px;
}
.pt-60px {
    padding-top: 60px;
}
.pb-50px {
    padding-bottom: 50px;
}
.card, .btn, .form-control {
    border-radius: 0;
}
.alert {
    font-weight: bold;
}
.form-group {
    margin-bottom: 26px;
}
.form-control-plaintext {
    font-weight: bold;
}
.btn-primary {
    color: #fff;
    background-color: #68336B !important;
    border-color: #68336B !important;
}
.bg-primary {
    color: #fff;
    background-color: #68336B !important;
    border-color: #68336B !important;
}
.bg-success {
    color: #fff;
    background-color: #2EA746 !important;
    border-color: #2EA746 !important;
}
.bg-danger {
    color: #fff;
    background-color: #E34E50 !important;
    border-color: #E34E50 !important;
}
.bg-warning {
    color: #fff;
    background-color: #EE8B23 !important;
    border-color: #EE8B23 !important;
}
.container {
    max-width: 1280px;
}
.navbar {
    padding: 0;
}
.nav-link {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand {
    padding: 0;
}
.loader {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
}
.loader .spinner-border {
    position: absolute;
    top: 50%;
}
.header {
    font-size: 15px;
    background-color: #ffffff;
}
.header-top {
    background-color: #68336B;
    color: #ffffff;
}
.header-top .left {
    line-height: 60px;
}
.header-top .left .fa-headset {
    font-size: 20px;
}
.header-top .left .email {
    font-weight: 500;
}
.navbar-top .nav-item {
    line-height: 60px;
    margin-left: 20px;
}
.navbar-top .nav-link {
    color: #ffffff;
}
.navbar-top .nav-link:hover {
    text-decoration: underline;
}
.navbar-top .btn {
    color: #ffffff;
    border-color: #ffffff;
}
.navbar-top .btn:hover {
    background-color: #0aa844;
    border-color: #0aa844;
}
.header-navbar {
    box-shadow: 0 10px 16px -12px rgba(136, 136, 136, 0.6);
    font-weight: 410;
}
.navbar-main {
    height: 100px;
}
.navbar-main .navbar-brand {
    margin-right: 50px;
}
.navbar-main .nav-link {
    color: #737373;
    padding: 6px 18px !important;
}
.navbar-main .nav-link:hover {
    color: #1AB454;
}
.navbar-main .nav-link.active {
	color: #ffffff;
    background-color: #1AB454;
	border-radius: 40px;
}
.navbar-main .media img {
	width: 50px;
}
.navbar-main .media .media-body {
    padding-top: 4px;
    text-align: right;
}
.navbar-main .media .auth-child {
    font-size: 12px;
}
footer.footer {
    background-color: #1A1A1A;
    height: 200px;
}
.sec-banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 560px;
}
.sec-banner.banner-inside {
    height: 200px;
}
.sec-banner .bgblack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}
.sec-banner.banner-inside .bgblack {
    background-color: rgba(0, 0, 0, 0.6);
}
.sec-banner .jumbotron {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    z-index: 3;
}
.sec-banner .jumbotron-heading,
.sec-banner .lead {
    color: #ffffff;
    text-align: center;
}
.sec-banner .jumbotron-heading {
    margin-top: 100px;
}
.sec-banner.banner-inside .jumbotron-heading {
    margin-top: 0px;
    text-align: left;
    font-size: 35px;
}
.sec-banner.banner-inside .lead {
    text-align: left;
    font-size: 17px;
}
.sec-banner .lead {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
}
.form-search-hor .form-control {
    font-size: 14px;
    padding-top: 28px;
    padding-bottom: 30px;
}
.form-search-hor .form-control-search {
    background-color: #ffffff;
    line-height: 58px;
    padding-left: 20px;
    color: #737373;
    font-size: 14px;
    cursor: pointer;
    border-left: 1px solid #ced4da;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
}
.form-search-hor .form-control-search img {
    height: 29px;
    margin-right: 17px;
}
.form-search-hor .btn {
    font-size: 16px;
    font-weight: 500;
    padding-top: 17px;
    padding-bottom: 17px;
}
.hsection h2 {
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 50px;
}
.sec-aboutus {
    margin-bottom: 80px;
}
.sec-aboutus p {
    color: #646464;
    line-height: 30px;
}
.search-left-title {
    background-color: #68336B;
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    padding: 14px 20px;
    margin-bottom: 0px;
}
.search-left-box .card-header {
    background-color: #ffffff;
    font-weight: 500;
}
.search-left-box .badge-pill {
    padding: 4px 5px;
    background-color: #68336B;
    cursor: pointer;
}
.search-left-box .list-group-item {
    border: 0;
    padding: 0px 20px 10px 20px;
    font-size: 14px;
}
.ordering .card-body {
    padding: 15px 20px;
}
.modal-pr-place .modal-title {
    font-size: 15px;
}
.modal-pr-place .modal-title img {
    height: 18px;
    margin-right: 10px;
}
.modal-pr-place .modal-title button {
    font-size: 13px;
}
.modal-pr-place .modal-body {
    padding: 20px 30px;
}
.modal-pr-place .modal-body .form-control {
    margin-top: 10px;
    text-align: center;
}
.modal-pr-place .modal-body p {
    font-size: 15px;
    text-align: center;
}
.modal-pr-place .modal-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.modal-pr-place .modal-body ul.places li:first-child {
    border-top: #dee2e6 solid 1px;
}
.modal-pr-place .modal-body ul li {
    border-bottom: #dee2e6 solid 1px;
}
.modal-pr-place .modal-body ul.places li {
    border-bottom: #dee2e6 solid 1px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
}
.modal-pr-place .modal-body ul.places li:hover {
    background-color: #dddddd;
}
.modal-pr-place .modal-body ul.places li button {
    width: 30px;
}
.modal-pr-place .modal-body ul.places li {
    border-bottom: #dee2e6 solid 1px;
    line-height: 50px;
}
.modal-pr-place .modal-body ul.countries li:last-child {
    border-bottom: none;
}
.modal-pr-place .modal-body ul.countries a {
    display: block;
    color: #212529;
    text-decoration: none;
    line-height: 50px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.modal-pr-place .modal-body ul.countries a img {
    width: 60px;
}
.modal-pr-place .modal-body ul.countries a:hover {
    background-color: #dddddd;
}
.modal-pr-place .modal-body ul.places a {
    color: #212529;
}
.modal-pr-place .modal-body ul.places a:hover {
    color: #007bff;
}
.modal-pr-place .modal-body h3 {
    margin: 25px 0px;
    font-size: 15px;
    font-weight: 440;
}
.categbox {
	margin-bottom: 15px;
}
.categbox:hover {
	-webkit-box-shadow: 0px 0px 10px 5px rgba(168,168,168,0.6);
	-moz-box-shadow: 0px 0px 10px 5px rgba(168,168,168,0.6);
	box-shadow: 0px 0px 10px 5px rgba(168,168,168,0.6);
}
.categbox .card-body {
	text-align: center;
}
.categbox .categ-icon,
.categbox .categ-name {
	display: block;
}
.categbox .categ-icon {
	margin-bottom: 10px;
}
.categbox .categ-icon img {
	width: 64px;
}
.categbox .categ-name {
	text-decoration: none;
	color: #737373;
	font-size: 15px;
}
.categbox .categ-name:hover {
	color: #f07749;
}
.categbox .categ-number {
	color: #f40000;
	font-size: 12px;
}
.listing {
	margin-bottom: 30px;
}
.listing:hover {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(143,143,143,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(143,143,143,1);
    box-shadow: 0px 5px 5px 0px rgba(143,143,143,1);
}
.listing img {
    height: 220px;
}
.listing .category {
    font-size: 14px;
    color: #888888;
}
.listing .title a {
    color: #212529;
    font-size: 18px;
}
.listing .title .badge {
    font-weight: normal;
    font-size: 12px;
}
.listing .title .badge-secondary {
    background-color: #be4fc6;
}
.listing .time {
    font-size: 14px;
    color: #888888;
    margin-bottom: 8px;
}
.listing .place {
    font-size: 14px;
    color: #888888;
}
.listing .price {
    color: #68336B;
    font-size: 20px;
    font-weight: 500;
}
.listing .price span {
    font-size: 15px;
}
.listing .price .btn {
    padding: 0;
    color: #b2b0b0;
}
.storebox {
    margin-bottom: 100px;
}
.storebox:hover {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(143,143,143,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(143,143,143,1);
    box-shadow: 0px 5px 5px 0px rgba(143,143,143,1);
}
.storebox .brand {
    position: absolute;
    top: 70px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;
    width: 100px;
    line-height: 80px;
    background-color: #ffffff;
    border: #dee2e6 solid 1px;
    text-align: center;
    z-index: 2;
}
.storebox .brand img {
    width: 70px;
}
.storebox .title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.storebox .title a {
    color: #212529;
}
.storebox .products {
    padding: 0px 20px;
    margin-bottom: 20px;
}
.storebox .products .col {
    border: #dee2e6 solid 1px;
    margin-right: 6px;
}
.storebox .products .col:last-child {
    margin-right: 0px;
}
.storebox .products .col a {
    display: block;
    line-height: 50px;
}
.storebox .products .col a img {
    width: 100%;
}
.storebox .footer {
    text-align: center;
}
.storebox .footer a {
    font-size: 14px;
    color: #888888;
}
.lstitlebox h1 {
	font-size: 1.7rem;
	margin-bottom: 20px;
}
.lstitlebox img {
    height: 400px;
}
.lsprofilebox .img-thumbnail {
    width: 160px;
    height: 160px;
}
.lsprofilebox .phone a {
    color: #212529;
    text-decoration: none;
}
.share-social {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.share-social .btn {
    display: block;
    width: 48px;
}
.share-social .btn:hover {
    width: 58px;
}
.share-social .btn-facebook {
    background-color: #3B5998;
    color: #ffffff;
}
.share-social .btn-whatsapp {
    background-color: #00E676;
    color: #ffffff;
}
.share-social .btn-twitter {
    background-color: #55ACEE;
    color: #ffffff;
}
.share-social .btn-instagram {
    background-color: #d8118f;
    color: #ffffff;
}
.share-social .btn-pinterest {
    background-color: #DC0000;
    color: #ffffff;
}
.share-social .btn-linkedin {
    background-color: #0067B1;
    color: #ffffff;
}
.signinbox p {
    font-size: 13px;
}
.signinbox .form-control {
    font-size: 14px;
    padding-top: 22px;
    padding-bottom: 22px;
}
.signinbox .btn {
    font-size: 17px;
    padding-top: 14px;
    padding-bottom: 14px;
}
.signinbox .btn-facebook {
    color: #ffffff;
    background-color: #3B5998;
    border: #4f6693 solid 1px;
}
.signinbox .btn-facebook:hover {
    background-color: #4f6693;
    border: #4f6693 solid 1px;
}
.signinbox .btn-link {
    font-size: 13px;
}
.fgotpasswdbox {
	min-width: 500px;
}
.admin-nav .img-thumbnail {
    width: 100px;
    height: 100px;
}
.admin-nav p {
    margin: 0;
}
.admin-nav .auth-name {
    margin-top: 12px;
    margin-bottom: 10px;
    font-weight: bold;
}
.admin-nav .auth-status,
.admin-nav .auth-type {
    font-size: 13px;
    margin-bottom: 4px;
}
.admin-nav .badge {
    font-weight: normal;
    font-size: 13px;
}
.admin-nav .list-group-item {
	padding: 0;
}
.admin-nav .list-group-item a {
	display: block;
	width: 100%;
	line-height: 60px;
	text-decoration: none;
	padding-left: 20px;
	padding-right: 10px;
	color: #737373;
	font-size: 15px;
}
.admin-nav .list-group-item a:hover {
	background-color: #F7F7F7;
}
.admin-nav .list-group-item a.active {
    background-color: #1AB454;
    color: #ffffff;
}
.admin-nav .list-group-item a.link-store {
    background-color: #68336B;
    color: #ffffff;
}
.admin-title .btn {
    font-size: 15px;
}
.admin-listing img {
    width: 110px;
    height: 105px;
    margin-right: 30px;
}
.admin-listing .badge {
    font-weight: normal;
    padding: 5px 10px;
    font-size: 13px;
}
.admin-listing p {
    color: #6c757d;
    font-size: 15px;
}
.admin-listing .btn {
    font-size: 14px;
    border-radius: 2px;
}
.admin-listing .dropdown-menu {
    font-size: 14px;
}
.admin-avatar {
    width: 100%;
    height: 290px;
}
.admin-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.admin-avatar .card-img-overlay {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
}
.admin-avatar .card-img-overlay .card-text {
    font-size: 17px;
    color: #808080;
    text-shadow: 1px 1px 1px #ffffff;
    padding-top: 100px;
}
.admin-store-banner {
    width: 100%;
    height: 110px;
}
.admin-store-banner img {
    width: 100%;
    max-height: 110px;
    object-fit: cover;
}
.admin-store-banner .card-img-overlay {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
}
.admin-store-banner .card-img-overlay .card-text {
    font-size: 17px;
    color: #808080;
    text-shadow: 1px 1px 1px #ffffff;
    padding-top: 10px;
}
.admin-total {
    position: relative;
}
.admin-total:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 3rem;
}
.bg-primary.admin-total:after {
    content: "\f200";
    color: #964f9b;
}
.bg-success.admin-total:after {
    content: "\f201";
    color: #3bbf51;
}
.bg-danger.admin-total:after {
    content: "\f080";
    color: #ef6767;
}
.bg-warning.admin-total:after {
    content: "\f1fe";
    color: #ed9b49;
}
.admuploadbox {
    background-color: rgb(230, 230, 230);
    display: block;
    width: 200px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 45px;
    border: 5px dashed #bdbdbd;
    cursor: pointer;
}
.admuploadbox i {
    display: block;
    height: 60px;
    margin-bottom: 15px;
}
.admuploadbox span {
    display: block;
    font-size: 16px;
}
.pricingTable {
    background: #fff;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding: 30px 30px 70px;
    box-shadow: 0 0 15px -8px rgba(0,0,0,0.5);
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.pricingTable:before,
.pricingTable:after {
    content: "";
    background-color: #F4F5F9;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    top: -213px;
    right: -213px;
    z-index: -1;
}
.pricingTable:after {
    background-color: #FE5F85;
    height: 300px;
    width: 300px;
    top: auto;
    bottom: -210px;
    right: auto;
    left: -160px;
}
.pricingTable .title {
    color: #1A2A3A;
    font-size: 33px;
    font-weight: 700;
    margin: 0 0 20px;
    font-family: 'Ubuntu', sans-serif;
}
.pricingTable .title:before{
    content: "";
    background-color: #1A2A3A;
    width: 65px;
    height: 3px;
    margin: 0 auto 20px;
    display: block;
    clear: both;
}
.pricingTable .price-value {
    color: #fff;
    background-color: #FE5F85;
    width: 160px;
    height: 160px;
    padding: 57px 0 0;
    margin: 0 auto 25px;
    border-radius: 50%;
}
.pricingTable .price-value .currency {
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    vertical-align: top;
    display: inline-block;
}
.pricingTable .price-value .amount {
    font-size: 58px;
    font-weight: 700;
    line-height: 45px;
    display: inline-block;
}
.pricingTable .price-value .duration {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 0 0 -5px;
    display: inline-block;
}
.pricingTable .pricing-content{
    padding: 0;
    margin: 0 0 25px;
    list-style: none;
    display: inline-block;
}
.pricingTable .pricing-content li{
    color: #888;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    padding: 0 0 0 35px;
    margin: 0 0 20px;
    position: relative;
}
.pricingTable .pricing-content li:last-child{ margin: 0; }
.pricingTable .pricing-content li:before{
    content: "\f00c";
    color: #fff;
    background-color: #FE5F85;
    font-family: "Font Awesome 5 Free";
    font-size: 13px;
    font-weight: 900;
    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 0;
}
.pricingTable .pricingTable-signup a{
    color: #fff;
    background-color: #FE5F85;
    font-size: 25px;
    font-weight: 500;
    width: 140px;
    padding: 3px 10px;
    margin: 0 auto;
    border-radius: 15px;
    border: 2px solid transparent;
    display: block;
    transition: all 0.3s ease 0s;
}
.pricingTable .pricingTable-signup a:hover{
    color: #FE5F85;
    background-color: transparent;
    border-color: #FE5F85;
}
@media only screen and (max-width: 990px) {
    .pricingTable { margin-bottom: 30px; }
}
.pricingTable.blue:after { background-color: #00CCFF; }
.pricingTable.blue .price-value { background-color: #00CCFF; }
.pricingTable.blue .pricing-content li:before { background-color: #00CCFF; }
.pricingTable.blue .pricingTable-signup a { background-color: #00CCFF; }
.pricingTable.blue .pricingTable-signup a:hover {
    color: #00CCFF;
    background-color: transparent;
    border-color: #00CCFF;
}
.pricingTable.purple:after { background-color: #9069EA; }
.pricingTable.purple .price-value { background-color: #9069EA; }
.pricingTable.purple .pricing-content li:before { background-color: #9069EA; }
.pricingTable.purple .pricingTable-signup a { background-color: #9069EA; }
.pricingTable.purple .pricingTable-signup a:hover {
    color: #9069EA;
    background-color: transparent;
    border-color: #9069EA;
}

.admin-wizard .list-group-item {
    color: #68336B;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.admin-wizard .list-group-item.active {
    background-color: #68336B;
    border-color: #68336B;
    color: #fff;
}
.admin-wizard .list-group-item a,
.admin-wizard .list-group-item span {
    color: #68336B;
}
.admin-wizard .list-group-item.active a,
.admin-wizard .list-group-item.active span {
    color: #fff;
}
